.fastasq {
    display: block;
    width: 80%;
	border: 1px solid #CCC;
	border-radius: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.q 	{
	background: #D3D3D3;
}
.q:disabled:hover	{
	background: #C0C0C0;
}
.q:disabled {
    background: #D3D3D3;
}
.q:hover {
    background: #C0C0C0
}
.q1 {
	float: right;
}
.q2 {
	padding-left:	1em;
	padding-right:	1em;
}
div.box {
  position:relative;
  border: 1px solid #CCC;
  max-width: 675px;
  padding: 2em 2em 2em 2em;
  border-radius: 5px; 
}
div.info_box {
  position:relative;
  border: 1px solid #CCC;
  margin-top: 1em;
  padding: 0.5em 0.5em 1em 1em;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}
.ifb	{
	width: 			80%;
}
.tfb	{
	width: 			100%;
	max-height: 	600px;
	overflow-x:		auto;
	overflow-y: 	auto;
}
table#fdisplay > th {
	text-align:		left;		
	max-width:		400px;
	min-width:		400px;
}

.tfh1  {
	text-align:		left;		
	max-width:		400px;
	min-width:		400px;
}
.tfh1:hover	{
	background:		#bdcbff;
}
.tfr1:hover {
	background: 	#bdcbff;
}
.tfd0 {
	float:			left;
	min-width:		6em;
	max-width:		6em;
	column-gap:		2em;
}
.tfd1{
	float:			left;
	min-width:		5em;
	max-width:		5em;
	column-gap:		2em;
}
.tfd2{
	float:			left;
	text-align:		left;
	min-width:		5em;
	max-width:		5em;	
	column-gap:		2em;
}
.tfd3{
	float:			left;
	text-align:		left;
	min-width:		18em;
	max-width:		18em;
	column-gap:		2em;
	text-align:		top;
}
.tfd4{
	float:			left;
	text-align:		left;
	min-width:		5em;
	max-width:		5em;
}
.tfd5{
	float:			left;
	text-align:		left;
	min-width:		3em;
	max-width:		3em;
}

div.ft  {
    padding: 2em 5em 3em 3em;
	font-size: small;
    text-align: center;
}

div.f  > h2 {
  font-size: 14pt;
  position: relative;
  color:	#000;
  background-color: white;
  margin-bottom: 0;
}
div.f  > p {
  margin-top: 0;
}