<! DOCTYPE=html>
<!------
{############################################################
#  CressInt Arabidopsis thaliana Intersector 
#  contactform.html.twig   Cressint Contact us form
#
#    Author:  Frances Soman 
###############################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}
{% import 'assets.twig' as assets %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{{ assets.inputform_assets() }}  --->
  <link rel="stylesheet" type="text/css" href="css/cressint.css"> 
<!----  
{% endblock %}

{% block nav %}
{% include 'sidebar.html.twig' %}
{% endblock %}


{% block main %}  ---->
<html>

<head>
<div>
.
</div>

<script>
function validateForm() { 
	var validchars = /\@/;
	var a = "@";
	
    var n = document.forms["contactform"]["name"].value;
	var e = document.forms["contactform"]["email"].value;
	var c = document.forms['contactform'].elements['contact_comment'].value;
	var l = e.length - 1;
	var i = e.indexOf( a );
	
	if (n == null || n == "") {
		
		alert("Please enter your name.");
        return false;
	}
		
	if (e == null || e == "") {
			
        alert("Please enter your email address. Example format: youremail@emailprovider.com");
        return false;
	}
	else	{
		// Preliminary validation, email validation is done after submit
		if (!validchars.test(e))	{
			alert("Email address needs to be in a valid format. Example: youremail@emailprovider.com");
			return false;	
		}
		else	{
			if ( i == 0 || i == l )	{
				alert("Email needs to be in a valid format. Example: youremail@emailprovider.com");
				return false;
			}
		}
	}
	if (c == null || c == "") {
		
		alert("Please enter your comment.");
        return false;
	}
    
}
</script>

</head>
<body>

<div class="f">
  <h1>Contact Us</h1>
    <div class="cr_format">

        <form name="contactform" id="contactform" method="post" enctype = "multipart/form-data" 
		accept-charset="UTF-8" onsubmit="return validateForm()" action="contactusi.php">

		<div>

			<p><label>Your Name</label>
               <input type="text" id="tname" name="name" required="true"  maxlength="50" style="width: 10em; word-wrap: normal"
               title="Please enter your name" >
			</p>
			

			<p><label>Your email address</label>
               <input type="text" id="temail" name="email"  maxlength="64" style="width: 15em; word-wrap: normal" placeholder="youremail@emailprovider.com"
               title="Please enter your email address" >
			</p>
			
		  </div>
		  <div>		
            <p><label>Your subject</label>
				<label><input type="radio" name="subject"
				value="sitecontent" >Site Content</label>
				<label><input type="radio" name="subject"
				value="functionality">Functionality</label>
			</p>			  
		  </div> 	
		  <div>	
			<p><label for="contact_comment" title="Enter your comment here">
                  
                    Your comment
			   </label></p>
			   
            <p><textarea name="contact_comment" id="tc" onsubmit="return validateForm()" maxlength="500" cols="60" rows="5" title="Please enter your comment"></textarea></p>
							
		  </div>
		  <input type="reset" value="Reset">
		  <input type="submit" value="Submit"> 
		  
		   
	</div> <!--cr_format-->

</div> <!-- class f --->
</body>
</head>
<!----
{% endblock %} ---->


                



