{#################################################
 #
 #    
 #    Twig template for Cressint cite.html.twig
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
<div class="info-list">
  <h1>How to Cite CressInt</h1>
  <p>The manuscript associated with CressInt is currently in press and
    <a href="http://www.sciencedirect.com/science/article/pii/S2214662815000110?np=y">available
    online</a> as part of the 15 September 2015 issue of <em>Current Plant
    Biology</em>.</p>
  <p>Please cite this manuscript in press as follows:</p>
  <blockquote>X. Chen, <em>et al.</em>, <em>CressInt</em>: A user-friendly web
    resource for genome-scale exploration of gene regulation in
    <em>Arabidopsis thaliana</em>, Curr. Plant Biol. (2015),
    <a href="http://dx.doi.org/10.1016/j.cpb.2015.09.001">http://dx.doi.org/10.1016/j.cpb.2015.09.001</a>
  </blockquote>
</div> <!-- .info-list -->

{% endblock %}


