{##################################################################################
#
#    Twig template for Cressint contactform.html.twig
#
#    Authors: K. Ernst, F.Soman
#
###################################################################################} 
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
 <form name="contactform" id="contactform" method="post" accept-charset="UTF-8"
     enctype="multipart/form-data" action="contactus.php"> <!--target="_blank"-->

      <fieldset disabled="disabled" id="inputvalues">
        <legend>Contact Us</legend>
	      <div class="fieldgroup">		
            <p><label>Your email address</label>
               <input type="text" name="email" value="" cols="30"
                placeholder="First.Last@emailprovider.com"
                title="Enter your email address"></p>
			</div> <!--/.fieldgroup-->
			<div class="fieldgroup">		
            <p><label>Your subject</label>
				<label><input id="subject1-radio" type="radio" name="mode-selector"
				value="sitecontent" >Site Content</label>
				<label><input id="subject2-radio" type="radio" name="mode-selector"
				value="functionality">Functionality</label>
			</p>			  
          </div> <!--/.fieldgroup-->		
		
          <div class="alignedgroup">
            <table valign="top">
              <tr>
                <td id="contact_comments" width="50%" valign="top">
                  <label for="contact_comments" title="Enter your comment">
                    Your comment
                  </label>
                  <p><textarea name="contact_comments" id="commentbox" cols="60" rows="5"></textarea></p>
                </td>
			 </tr>
			</table>
		  </div> 
      </fieldset>          

      <fieldset id="formbuttons">
        <p><input disabled="disabled" id="submitbtn" type="Submit" value="Submit">
      </fieldset> <!-- /#formbuttons -->
    </form> 
{% endblock %}

{% block footerjs %}
  <!-- IE-specific fixes -->
  <script type="text/javascript" src="js/ieshims.js"></script>
  <!-- Ajax form submission -->
  <script type="text/javascript" src="js/formsubmit.js"></script>

{% endblock %}
