{#################################################
 #
 #
 #    Twig template for CressInt Tools
 #
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}


{% block main %}
<div class="info-list">
  <h1><em>Arabidopsis thaliana</em> Tools and Portals</h1>
    <dl>
      <dt><a href="https://www.arabidopsis.org/index.jsp"
        target="_blank"><b>TAIR</b></a></dt>
      <dd>
        <p>TAIR, the Arabidopsis Information Resource, is a genetic and
        molecular biology resource for Arabidopsis thaliana created by the
        Arabidopsis Biological Resource Center at the Ohio State
        University.</p>
      </dd>

      <dt><a href="http://cisbp.ccbr.utoronto.ca/"
        target="_blank"><b>Cis-BP</b></a></dt>
      <dd>
        <p>Cis-BP, the Catalog of Inferred Sequence Binding Preferences, is
        an online library of transcription factors and their DNA binding
        motifs.  Cis-BP is a collaboration between the labs of Tim Hughes
        (University of Toronto) and Matt Weirauch (Cincinnati Children's
        Hospital Medical Center).</p>
      </dd>

      <dt><a href="http://genome.ucsc.edu/cgi-bin/hgGateway?hgsid={{ gbtrackid }}"
        target="_blank"><b>UCSC Arabidopsis Genome Browser Gateway</b></a></dt>
      <dd>
        <p>The genome browser provides a gateway for visualizing the genome
        by position, gene or track type.  The UCSC Genome Browser is
        developed and maintained by the Genome Bioinformatics Group at the
        University of California Santa Cruz (UCSC).</p>
      </dd>

      <dt><a href="http://arabidopsis.med.ohio-state.edu/"
        target="_blank"><b>AGRIS</b></a></dt>
      <dd>
        <p>The Arabidopsis Gene Regulatory Information Server (AGRIS) is an
        information resource of Arabidopsis promoter sequences,
        transcription factors, and their target genes. It houses databases
        of cis-regulatory elements, transcription factors, and
        transcription factor-target gene direct interactions. AGRIS was
        made by the Grotewold Lab at the Ohio State University.</p>
      </dd>

      <dt><a href="https://www.araport.org/"
        target="_blank"><b>Araport</b></a></dt>
      <dd>
        <p>The Arabidopsis Information Portal is a community resource for
        data mining the Arabidopsis thaliana genome to analyze gene
        structure, gene expression, protein function, and interaction
        networks, from the J. Ventor Institute, the University of Texas at
        Austin, and the University of Cambridge.</p>
      </dd>

      <dt><a href="http://www.bioinformatics2.wsu.edu/Athena"
        target="_blank"><b>Athena</b></a></dt>
      <dd>
        <p>Athena is an Arabidopsis thaliana promoter database with
        visualization, data mining, and analysis tools from the laboratory
        of John Wyrick at Washington State University.</p>
      </dd>

      <dt><a href="http://bar.utoronto.ca/welcome.htm"
        target="_blank"><b>BAR Bioinformatics</b></a></dt>
      <dd>
        <p>The Bio-Analytic Resource for Plant Biology enables genomic
        expression and protein analysis. From the Provart Laboratory at
        the University of Toronto, Canada.</p>
      </dd>

      <dt><a href="http://www.broadinstitute.org/software/igv/Genomes"
        target="_blank"><b>Integrative Genomics Viewer</b></a></dt>
      <dd>
        <p>The Integrative Genomics Viewer is a visualization tool from the
        BROAD Institute for interactive exploration of genomic data sets
        including Arabidopsis thaliana.</p>
      </dd>

      <dt><a href="http://www.grassius.org/"
        target="_blank"><b>Grassius</b></a></dt>
      <dd>
        <p>GRASSIUS provides a public web resource composed of a collection
        of databases, computational resources, and experimental resources
        that relate to the control of gene expression in the grasses. From
        the Grotewold Laboratory at the Ohio State University and the Gray
        Laboratory at the University of Toledo.</p>
      </dd>

      <dt><a href="http://plants.ensembl.org/index.html"
        target="_blank"><b>EnsemblPlants</b></a></dt>
      <dd>
        <p>EnsemblPlants is a genome browser for genomic assembly, genomic
        annotatation, and comparative genomics resource from the European
        Bioinformatics Institute and the Wellcome Trust Sanger Institute.</p>
      </dd>

      <dt><a href="http://signal.salk.edu"
        target="_blank"><b>SIGnal</b></a></dt>
      <dd>
        <p>SIGnal is a functional genomics suite of tools for genomic,
        epigenomic, and transcriptomic analysis of  Arabidopsis and other
        plants from the Salk Institute Genomic Analysis Laboratory, Dr.
        Joseph Ecker, Director. SIGnal also provides a portal to <a
        href="http://signal.salk.edu/atg1001/index.php" target="_blank">
        <b>Salk Arabidopsis 1001 Genomes</b></a>, a partner site to the
        1001 Genomes joint project, providing access to the GEBrowser,
        genome browser, and a library of Arabidopsis strain and SNP
        sequence data.</p>
      </dd>

      <dt><a href="http://1001genomes.org/" target="_blank"><b>1001
        Genomes</b></a></dt>
      <dd>
        <p>The 1001 Genomes Project is a joint project to discover the
        whole-genome sequence variation in 1001 strains of the reference
        plant Arabidopsis thaliana. To date, more than 1100 lines have
        been sequenced. A list of the joint data providers is available <a
        href="http://1001genomes.org/data_providers.html"
        target="_blank"><b>here.</b></a></p>
      </dd>

      <dt><a href="https://www.arabidopsis.org/tools/index.jsp"
        target="_blank"><b>TAIR Tools</b></a></dt>
      <dd>
        <p>TAIR Tools - Links to TAIR analysis and visualization tools.
        The Arabidopsis Information Resource is a genetic and molecular
        biology resource for Arabidopsis thaliana from the Arabidopsis
        Biological Resource Center at the Ohio State University.</p>
      </dd>

      <dt><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&BLAST_SPEC=OGP__3702"
        target="_blank"><b>BLAST</b></a></dt>
      <dd>
        <p>BLAST - Arabidopsis thaliana NCBI Basic Local Alignment Search
        Tool for sequence searching and alignment.</p>
      </dd>

      <dt><a href="http://virtualplant.bio.nyu.edu/cgi-bin/vpweb/"
        target="_blank"><b>VirtualPlant</b></a></dt>
      <dd>
        <p>VirtualPlant integrates genomic data and provides tools for
        visualization and analysis from the Systems Biology perspective,
        from the Coruzzi and Shasha Laboratories of New York University
        and the Gutierrez Laboratory of the Pontificia Universidad
        Catolica de Chile.</p>
      </dd>

      <dt><a href="http://www.ncbi.nlm.nih.gov/genbank/"
        target="_blank"><b>GenBank</b></a></dt>
      <dd>
        <p>GenBank is the National Institutes of Health (NIH) genetic
        sequence database resource.</p>
      </dd>
    </dl>
  </div> <!--/.faq-->
{% endblock %}
