{#################################################
 #
 #    
 #    Twig template for Cressint Tools FAQs
 #    
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
  <div class="info-list">
    <h1>Frequently Asked Questions</h1>
    <ol>
      <li><dl>
        {# FIXME: this should be a real ordered list #}
        <dt>What is CressInt?</dt>
        <dd>
          <p><em>CressInt</em> is a web resource for exploring gene regulatory
          mechanisms in <em><a href="https://www.arabidopsis.org/portals/education/aboutarabidopsis.jsp"
          >A. thaliana</a></em> on a genomic scale. CressInt incorporates a
          variety of genome-wide data types relevant to gene regulation,
          including transcription factor (TF) binding site models, ChIP-seq,
          DNase-seq, eQTLs, and GWAS. Examples uses of CressInt are: (1)
          Identify TFs binding to the promoter of a gene of interest; (2)
          identify genetic variants that are likely to impact TF binding based
          on a ChIP-seq dataset; and (3) identify specific TFs whose binding
          might be impacted by phenotype-associated variants.</p>

          <p>CressInt is freely available at <a title="CressInt public web interface"
          href="https://cressint.cchmc.org">https://cressint.cchmc.org</a>.
          Source code for the front-end web application (written in PHP) is
          available on <a title="CressInt source code repository on Bitbucket"
          href="https://bitbucket.org/weirauchlab/tf-tools-cressint">Bitbucket</a>.
          <p>
        </dd>
      </dl></li>

      <li><dl>
        <dt>How should I cite CressInt?</dt>
        <dd>
          <p>
            The manuscript associated with <em>CressInt</em> (X. Chen, <em>et
            al.</em>, <em>CressInt</em>: A user-friendly web resource for
            genome-scale exploration of gene regulation in <em>Arabidopsis
            thaliana</em>, <a href="http://dx.doi.org/10.1016/j.cpb.2015.09.001">dx.doi.org/10.1016/j.cpb.2015.09.001</a>)
            was published in the 15 September 2015 issue of <em>Current Plant
            Biology</em>.
          </p>
          <p>Citation information may be found <a href="/cressint/cite.php">here</a>.</p>
        </dd>
      </dl></li>

      <li><dl>
        <dt>What types of input will CressInt accept?</dt>
        <dd>
          <p>CressInt accepts standard <a title="BED format reference at genome.ucsc.edu"
          href="https://genome.ucsc.edu/FAQ/FAQformat.html#format1"
          >BED file</a> input for genomic coordinates (described in more
          detail below) as well as coordinates of the form
          <tt>chr1:1-10,000,000</tt>, which you might want to copy-paste
          from the UCSC Genome browser.</p>

          <p>With the "Input type: Gene names" radio button selected, you may
          use the search box above the input field to find <em>A.
            thaliana</em> gene names from a comprehensive list (including
          aliases). You may also copy-and-paste a list of gene names directly
          into the input field, one per line. Letter case is not
          significant.</p>

          <p>In both cases, you also have the option of uploading a file
          containing the genomic coordinates or gene names. Both MS-DOS
          and Unix-style <a title="'Newline' article on Wikipedia"
          href="https://en.wikipedia.org/wiki/Newline">line endings</a> are
          accepted.</p>

          <p>Work is in progress to add a <a
          title="FASTA format reference at zhanglab.ccmb.med.umich.edu"
          href="http://zhanglab.ccmb.med.umich.edu/FASTA/">FASTA</a>
          input option.</p>
        </dd>
      </dl></li> <!-- What types of input will CressInt accept -->

      <li id="what-is-a-bed-file"><dl>
        <dt>What is a BED file?</dt>
        <dd><p>The BED (or <em><a href="https://genome.ucsc.edu/FAQ/FAQformat.html#format1"
        title="BED format reference at genome.ucsc.edu">Browser
        Extensible Data</a></em>) format describes a tab-delimited text file
        which contains information about the locations on chromosomes of
        regions of interest.</p>

        <p>The minimum recommended input for use with CressInt is BED4 format,
        comprised of the following fields:</p>
        <ol>
          <li><strong><tt>chrom</tt></strong> – the name of the chromosome or scaffold (example:
            <tt>chr5, or scaffold10671</tt>)</li>
          <li><strong><tt>chromStart</tt></strong> – the starting position of feature in the
            chromosome or scaffold</li>
          <li><strong><tt>chromEnd</tt></strong> – the ending position of the feature in the
            chromosome or scaffold</li>
          <li><strong><tt>name</tt></strong> – a name or reference ID for this
            coordinate (don't use spaces in this input field)</li>
        </ol>

        <p>Example: <code>chr1    11873    14409    uc001aaa.3</code></p>
       
        <p>Currently, BED 3, BED 4, BED 5, or BED 6 file formats are supported
        in this version of CressInt (all designating the number of columns in
        the input). <em>Missing columns will be supplied with placeholders,
        which is why you may see arbitrary <tt>seq<em>XXX</em></tt> IDs applied
        to your input after submission, and in the intersection
        results.</em></p>
        
        Strictly speaking, BED format requires
        that individual fields be <strong>delimited by "Tab" (<tt>\t</tt>)
        characters</strong>, but CressInt tries to be somewhat liberal and
        will generally accept any number of whitespace characters as a field
        delimiter. <em>Don't use spaces within any of the optional fields
        (such as "name") to avoid problems processing your input.</em></p>

        <p><dl>
          <dt>BED5</dt>
          <dd>
            <p>A BED file with the first five attributes including score:
            <tt>chrom</tt>, <tt>start</tt>, <tt>end</tt>, <tt>name</tt>, and
            <tt>score</tt>.</p>

            <p>Example: <code>chr1    11873    14409    uc001aaa.3    0</code></p>
          </dd>

          <dt>BED6</dt>
          <dd>
            <p>A BED file with the first six attributes including
            score and strand: <tt>chrom</tt>, <tt>start</tt>, <tt>end</tt>,
            <tt>name</tt>, <tt>score</tt>, and <tt>strand</tt>.</p>
            
            <p>Example: <code>chr1    11873    14409    uc001aaa.3    0    +</code></p>
          </dd>
        </dl></p> <!-- BED 5 and 6 -->
        </dd>
      </dl><li> <!-- What is a BED file -->

      <li><dl>
        <dt>What is a Protein Binding Microarray?</dt>
        <dd><p>PBMs were originally developed by Martha Bulyk, and have since
        been adopted by many other groups. PBMs are unique because they offer
        an unbiased survey of the binding of a given protein. Briefly, PBMs
        contain ~40,000 double-stranded 60-base DNA probes, which are used to
        systematically measure the binding preferences to all possible DNA
        sequences – the probe sequences of a given PBM array are designed such
        that each of the 32,896 possible 8-base sequences appear in diverse
        flanking sequence contexts on 32 different probes. The resulting data,
        which track well with both in vivo-derived motifs and motifs derived
        from other in vitro assays, therefore offer a complete, robust,
        unbiased survey of the binding preferences of a given TF.</p></dd>
      </dl></li> <!-- What is a PBM? -->

      <li><dl>
        <dt>What should the output of CressInt look like?</dt>
        <dd>
          <p>Operation in "Intersect" mode (Mode 1) should produce just one
          results file:
          <tt><a href="sample_output/mode1/allresults.bed">allresults.bed</a></tt>,
          which represents intersections of your provided gene coordinates
          with all available CressInt data sets.</p>

          <p>In "Find TF/SNPs" mode (Mode 2) and "Phenotypes to TF/SNPs" mode
          (Mode 3), you should get three results files: <tt>allresults.bed</tt>,
          <tt>PBMresults.bed</tt>, and <tt>SNPoutput.bed</tt>. <em>Samples:
          <a href="sample_output/mode2">Mode 2</a> and
          <a href="sample_output/mode3">Mode 3</a></em>.</p>

          <p>Other files incidental to the analysis may be offered for
          download, such as the list of input coordinates you initially
          provided or phenotype selections for Mode 3.</p>
       </dd>
      </dl></li> <!-- How to obtain FASTA files -->

      <li id="contact"><dl>
        <dt>How may I contact the developers of CressInt?</dt>
        <dd>
          <p>See something that needs improved? Let us know.</p>

          <p>You may contact Dr. Matthew Weirauch with questions or feedback
          at <a href="mailto:Matthew.Weirauch@cchmc.org?subject=CressInt%20feedback">
          Matthew.Weirauch@cchmc.org</a>.
        </dd>
      </dl></li> <!-- How to contact the lab -->

    </ol>
  </div> <!--/.info-list-->
{% endblock %}
