{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
  <link href="/cressint/css/cressint.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
    <h1>Oh, bother.</h1>

    <p>Something seems to have gone wrong with {{ propername }}.</p>

{% if errordetails is defined %}
    <h2>Details</h2>
    <!-- errordetails -->
    {{ errordetails|raw }}
{% endif %}

    <p>
      If you feel a grave disservice has been done to humanity through this
      application's misbehavior, you should feel free to contact the TF Tools
      administrator <a title="Kvetch!" href="mailto:tftoolsadmin@cchmc.org">via email</a>.
    </p>

    <h4>
      Back to: <a href="/">TF Tools Home</a> | <a href="/{{ toolname }}">{{ propername }}</a>
    </h4>

    <p><small>Guru meditation #{{ now | date('U') }}</small></p>
{% endblock %} {# /main #}
