{% extends 'tftool.html.twig' %}
{% block meta %}
  {{ parent() }}
  <!-- Refresh -->
  <meta http-equiv="refresh" content="{{ timeout ?: 10 }};{{ url ?: '/' ~ toolname  ~ 'results' }}">
{% endblock %} {# /meta #}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
  <link href="/cressint/css/cressint.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}
  
{% block main %}
    {#- FIXME: Figure out why jobid doesn't show up here #}
    <!-- jobid: {{ jobid }} -->
    <h1>Still waiting on completion of job "{{ jobname }}"</h1>

{% if url is defined %}
    <p>Refreshing in {{ timeout ?: 10 }} seconds, or click <a href="{{ url }}">here</a>.</p>
{% else %}
    <p>Refreshing in {{ timeout ?: 10 }} seconds</p>.
{% endif %}

  <h2>
{#-   <a href="/{{ toolname }}/results">&laquo; Back to all results</a> | -#}
    <a href="/{{ toolname }}">Submit a new {{ propername }} job</a>
  </h2>
{% endblock %} {# /main #}
